*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	background: #000;
}
a {
	text-decoration: none;
	color: #fff;
	outline: none;
}
a:hover,
a:focus {
	color: #fff;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Overlay */
main::before {
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(84, 115, 243, 0.3);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(253,192,206,1) 0%, rgba(252,166,94,1) 35%, rgba(24,26,130,1) 100%);
	animation: loaderAnim 0.8s ease-in infinite alternate forwards;
}
@keyframes loaderAnim {
	to {
		transform: scale3d(150,150,1);
	}
}

/* 各セクション共通設定 */
.content--related {
	position: relative;
	justify-content: center;
	min-height: 75vh;
	margin: 8em 2em 0 2em;
	padding: 4em 1.5em 8em 1.5em;
	background: rgba(53, 50, 50, 0.92);
	z-index: 10;
}
.content__text {
	width: 100%;
	margin-bottom: 1.5em;
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	letter-spacing: .03em;
}
.content__text::after {
    content: '';
    display: block;
    width: 15%;
    min-width: 5em;
    margin: 0% auto;
    border-bottom: 1px solid #3F85E7;
}
.text-style {
	text-align: justify;
	line-height: 1.75;
	letter-spacing: 1px;
}
@media screen and (max-width: 415px) {
	.content--related {
		margin: 6em 0 0 0;
	}
}

/* ヘッダー */
.content--header {
	position: relative;
	z-index: 11;
	align-items: flex-start;
	width: 100%;
	padding: 1.5em;
}
.content__top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}
.main-title-area {
	display: flex;
	justify-content: space-between;
	margin: 0 1em;
	white-space: nowrap;
}
.main-title {
	font-size: calc(14px + 1vw);
	font-weight: normal;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.main-subtitle {
	font-size: calc(12px + .9vw);
	margin: 0 1em;
	opacity: 0.8;
}
.main-subtitle::before,
.main-subtitle::after {
	content: ' // ';
}
@media screen and (max-width: 415px) {
	.main-title-area {
		flex-flow: wrap;
		justify-content: space-evenly;
		white-space: nowrap;
	}
}

/* メインビジュアル */
.main-visual {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.main-visual__message {
	width: 100%;
	padding-left: .5em;
	margin-top: .3em;
	margin-bottom: 1.5em;
	font-size: calc(3em + 6vw);
}

/* PROFILE */
.profile-item {
	display: flex;
	justify-content: space-evenly;
	width: 88%;
	margin: 0 auto;
}
.profile-item__img {
	display: block;
	height: 300px;
}
@media screen and (max-width:960px) {
	.profile-item {
		flex-flow: column;
		align-items: center;
		padding: 0 3em;
	}
	.profile-item__img {
		width: 300px;
	}
}
@media screen and (max-width: 415px) {
	.profile-item__img {
		width: 260px;
	}
	.text-style {
		font-size: calc(12px + .2vw);
	}
}

/* SERVICES */
.services-item {
	display: flex;
	width: 88%;
	margin: 0 auto;
}
.service-box {
	flex: 1;
	margin: 25px;
	text-align: center;
}
.service-icon {
	font-size: calc(100px + 4vw);
}
.fa-code {
	color: darksalmon;
}
.fa-wordpress {
	color: dodgerblue;
}
.fa-palette {
	background: #FEAC5E;
	background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
	background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.service-title {
	margin-top: 2em;
	font-size: 1.6em;
}
@media screen and (max-width:960px) {
	.services-item {
		flex-flow: column wrap;
	}
}
@media screen and (max-width: 415px) {
	.services-item {
		width: 100%;
	}
	.service-box {
		margin: 25px 0;
	}
}

/* WORKS */
.works {
	display: flex;
	justify-content: space-evenly;
}
.media-item {
	display: inline-block;
	width: 20vw;
	padding: 1em;
	text-align: center;
	transition: color 0.3s;
}
.media-item__img {
	max-width: 100%;
	opacity: 1;
	transition: opacity 0.3s;
}
.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 0.7;
}
.media-item__title {
	font-size: 0.865em;
	font-weight: normal;
	margin: 0;
	padding: 0.5em;
}
.tags {
	display: flex;
	flex-flow: wrap;
}
.tag {
	margin: 3px;
	padding: 1px 10px;
	border-radius: 10px;
}
.tagcolor-coding {
	background: darksalmon;
}
.tagcolor-wordpress {
	background: dodgerblue;
}
.tagcolor-category {
	background: darkturquoise;
}
.tagcolor-design {
	background: violet;
}
.tagcolor-quality {
	background: peru;
}
@media screen and (max-width: 960px) {
	.works {
		flex-flow: column;
		align-items: center;
	}
	.media-item {
		width: 40vw;
		min-width: 280px;
	}
}
@media screen and (max-width: 415px) {
	.media-item__img {
		max-width: 90%;
	}
}

/* CONTACT */
.contact-form {
    min-width: 54.5%;
    width: 37.5%;
    margin: 0 auto;
}
.contact-inputs {
    display: flex;
    flex-flow: column;
    margin-top: 2em;
    color: #8C9BB0;
    text-align: center;
}
.contact-label {
    margin-bottom: 1em;
    color: #fff;
    font-size: calc(1rem + .3vw);
    text-align: center;
}
.input-name {
    position: relative;
    padding-top: .2em;
    margin-bottom: 1em;
    font-weight: 500;
}
.required div::before {
    content: '必須';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    margin-top: -.5em;
	padding: .35em 1.4em;
	border-radius: 5px;
    color: #fff;
    font-size: calc(1rem + .05vw);
    background: #F682AF;
}
.contact-input {
    width: 100%;
    margin-bottom: 2.5em;
    padding: 9px 15px;
    border: 1px solid #8C9BB0;
    border-radius: 5px;
    font-size: 1.6rem;
}
.contact-txt {
    height: 240px;
    margin-bottom: 3.5em;
}
.btn-div {
    text-align: center;
}
.btn {
    display: inline-block;
    max-width: 100%;
    padding: .6em 4em;
    background: #cc809f;
	border: 2px solid transparent;
	border-radius: 5px;
    color: #fff;
    font-size: calc(1rem + 0.8vw);
    font-weight: 700;
    text-align: center;
    letter-spacing: .1em;
    transition: .3s;
}
.btn:focus,
.btn:hover {
    background: #fff;
    border-color: currentColor;
    color: #cc809f;
}
@media screen and (max-width:960px) {
    .contact-form {
        width: 100%;
        padding: 0 1em;
    }
    .required::before {
        left: 1em;
    }
    .contact-txt {
        height: 187px;
    }
}
@media screen and (max-width: 415px) {
	.contact-form {
		padding: 0;
	}
	.required div::before {
		padding: 0;
		background: transparent;
		color: #cc809f;
	}
}

/* フッター */
.copyright {
	font-size: calc(10px + .1vw);
	word-break: break-all;
}

#webgl {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
}


@media screen and (max-width: 40em) {
	.content--header {
		padding: 1em 0.5em 0;
	}
	.content__top {
		display: block;
		text-align: center;
	}
	.main-subtitle {
		margin: 0;
	}
	.demos {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0.5em;
		transform: none;
		top: auto;
		display: block;
	}
}
