header(class="content--header")
  .content__top
    .main-title-area
      h1(class="main-title") Junichiro Kohari
      <!-- set subtitle in javascript -->
      h2(class="main-subtitle")
  include _nav.pug
