header(class="content--header")
  .content__top
    .main-title-area
      h1(class="main-title") Junichiro Kohari
      h2(class="main-subtitle") システム開発承ります &#128421; &#128187; &#128241;
  include _nav.pug
