nav(class="nav display-none")
  ul(class="nav-ul")
    li(class="nav-li")
      a(href="#wrapper" class="nav-link") TOP
    li(class="nav-li")
      a(href="#profile" class="nav-link") PROFILE
    li(class="nav-li")
      a(href="#services" class="nav-link") SERVICES
    li(class="nav-li")
      a(href="#works" class="nav-link") WORKS
    li(class="nav-li")
      a(href="#contact" class="nav-link") CONTACT
.hamb-button
  span(class="border")
  span(class="border")
  span(class="border")