section(
  id="services"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  h3(class="content__text") SERVICES
  ul(class="services-item")
    li(class="service-box")
      i(class="far fa-object-ungroup service-icon")
      .service-title
        span System Design
      p(class="text-style")
        | WordPressを利用したオリジナルテーマ開発を行います。新規作成から既存サイトのカスタマイズまで幅広く承っております。設定の変更やプラグインの導入まで柔軟に対応いたします。
    li(class="service-box")
      i(class="fas fa-code service-icon")
      .service-title
        span Code &amp; Test
      p(class="text-style")
        | HTML、CSSのコーディングを行います。基礎SEO施策を意識し、デザインカンプのデザインを正確にHTML・CSSのコードに落とし込んでいきます。SassやLessなどのCSS拡張言語やBEMなどのCSS設計にも対応いたします。
    li(class="service-box")
      i(class="fas fa-palette service-icon")
      .service-title
        span UI/UX Design
      p(class="text-style")
        | Webサイトのデザインを行います。PhotoShopやXDを用いて、お客様のビジネスが顧客に正しく伝わるようにWebデザインを構築いたします。清潔感のあるシンプルなデザインや少しおしゃれな遊び心あるデザインを得意としております。
